[submodule "vendor/ggen"]
	path = vendor/ggen
	url = https://github.com/seanchatmangpt/ggen.git
[submodule "vendor/ggen-marketplace"]
	path = vendor/ggen-marketplace
	url = https://github.com/seanchatmangpt/ggen-marketplace.git
[submodule "vendor/autofde-lab"]
	path = vendor/autofde-lab
	url = https://github.com/seanchatmangpt/autofde-lab.git
[submodule "vendor/ggen_igniter"]
	path = vendor/ggen_igniter
	url = https://github.com/seanchatmangpt/ggen_igniter.git
